<%= form_with(model: build_task, url: url, local: true) do |form| %>
    <% if build_task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(build_task.errors.count, "error") %> prohibited this build_task from being saved:</h2>

          <ul>
            <% build_task.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :build_task_name, class: 'form-control' %>
    </div>

    <%= form.hidden_field :set_task_id, id: :build_task_set_task_id %>

    <div class="field">
      <%= form.label :notes %>
      <%= form.text_area :notes, id: :build_task_notes, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :schematic %>
      <%= form.file_field :schematic_url, id: :build_task_schematic_url, class: 'form-control upload-input' %>
    </div>

    <div class="field">
      <%= form.label :skills %>
      <% User.skills.each_with_index do |skill, i| %>
          <br />
          <input type="checkbox" id="skill_<%= skill.gsub(' ', '_') %>"
                 name="build_task[skills][<%= i %>]" value="<%= skill %>"
                 <%= build_task.skills.include?(skill) ? 'checked' : '' %>
          >

          <label for="skill_<%= skill.gsub(' ', '_') %>">
            <%= skill %>
          </label>

      <% end %>
    </div>

    <div class="actions">
      <%= form.submit nil, class: 'btn btn-default' %>
    </div>
<% end %>

<script>
    initializeUploads("<%= @s3_direct_post.url %>", <%= sanitize @s3_direct_post.fields.to_json.html_safe %>)
</script>
