<%= form_with(model: set_task, local: true) do |form| %>
  <% if set_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(set_task.errors.count, "error") %> prohibited this set_task from being saved:</h2>

      <ul>
      <% set_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :set_task_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, [
        ['URGENT', 0],
        ['1 - High', 1],
        *(2..4).map{|p| [p, p]},
        ['5 - Medium', 5],
        *(6..9).map{|p| [p, p]},
        ['10 - Low', 10]
    ], {}, id: :set_task_priority, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'btn btn-default' %>
  </div>
<% end %>
