<!DOCTYPE html>
<html>
<head>
  <title>Ram's Head Theater Work Tracker</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_pack_tag 'application' %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.6/sweetalert2.all.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.6/sweetalert2.min.css">

</head>

<body>

<div class="yield-content container">
  <%= yield %>
</div>

<% if flash[:alert] || flash[:notice] %>
    <div class="overlay fadeout">
      <% if flash[:notice] %>
          <p class="notice"><%= notice %></p>
      <% end %>

      <% if flash[:alert] %>
          <p class="alert"><%= alert %></p>
      <% end %>
    </div>
<% end %>

<%= render partial: 'layouts/js_config' %>

</body>
</html>
